@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SF-Pro-Text/SF-Pro-Text-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SF-Pro-Text/SF-Pro-Text-Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SF-Pro-Text/SF-Pro-Text-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Bold.otf");
  font-weight: 700;
}
